.box {
  width: 450px;
  border: 4px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3),
    -5px -5px 15px rgba(255, 255, 255, 0.5);
  margin: 20px auto;
}

.userBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.userImg {
  max-width: 50%;
  border-radius: 50%;
  background-color: black;
}

.userBox > p {
  font-size: 16px;
  color: hsl(0, 2.8%, 41.6%);
}

.userBox p:nth-child(2) {
  color: black;
}

.userList {
  display: flex;
  justify-content: center;
  padding: 0;
  border-top: 2px solid black;
  background-color: hsl(0, 2.8%, 70.6%);
  margin: 0;
}

.userInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  width: 33.3%;
}

.userInfo span:last-child {
  font-weight: 600;
}

.userList li:not(:last-child) {
  border-right: 2px solid black;
}
